<!DOCTYPE html>
<html>
<head>
  <title>PostgresSearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <%= link_to "Postgres Search", root_path, :class => "brand" %>
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Posts", posts_path %></li>
        <li><%= link_to "New Post", new_post_path %></li>
      </ul>
    </div>
  </div>

  <%= yield %>
</div>

</body>
</html>
